.post{
    max-width: 750px;
    margin: 0 auto;
    font-family: CharterRegular;

    &__header{
        display: block;
        // width: 100%;
    }

    &__title{
        font-family: Victor_serif;
        font-size: $font-size-title;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -.005em;
    }

}