
// accented colors
$color-accent-1: #3c4664;
$color-accent-2: #478081;
$color-accent-3: #d5d5d5;
$color-accent-4: #3EC3CC;


// pure backgraound
$bg-white:#fff;
$bg-black:#000;



// primary colors
$color-button-primary:#ff2753;
// $color-button-secondary:rgb(255, 0, 212);
// gray color 
$color-gray: #fafafa;
$color-gray-1: darken($color-gray, 10%);
$color-gray-2: darken($color-gray, 30%);
$color-gray-3: darken($color-gray, 50%);
$color-gray-4: darken($color-gray, 70%);
$color-gray-5: darken($color-gray, 90%);



// font sizes
$font-size-title: 3.5rem;
$font-size-1: 2.5rem;
$font-size-2: 1.5rem;
$font-size-3: 1.125rem;
$font-size-4: 1rem;
$font-size-5: 0.875rem;
$font-size-6: .75rem;



// font weights
$font-weight-1: 600;
$font-weight-2: 500;
$font-weight-3: 400;
$font-weight-4: 300;
$font-weight-5: 200;


// Screen Sizes 

// Large Tablets and Desktops
$screen-xl-min: 1200px;
// Tablet and  small Desktop
$screen-lg-min: 992px;
// Small tablet
$screen-md-min: 768px;
// Mobile
$screen-sm-min: 576px;
